.close-window-button {
    position: relative;
    float: right;
    top: 0%;
}

.default-button-theme {
    background-color: rgb(204, 204, 204);
    border: 3px solid #000000;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    cursor: pointer;
}

.default-window-theme {
    border: 3px solid #000000;
    background-color: #555555;
}