.image-editor-container {
    
}

.image-editor-drop {
    margin: 5%;
    border: 1px solid #000000;
}

.image-editor-img {
    position: relative;
    left: 50%;
    translate: -50% 0%;
    width: 99%;
}
