.image-manager-container {
    display: block;
    position: fixed;
    width: 70%;
    height: 70%;
    transform-origin: center;
    translate: -50% 0%;
    top: 15%;
    left: 50%; 
    z-index: 9;
  }