
.image-container {
    position: relative;
    width: 250px;
    height: 250px;
    left: 50%;
    translate: -50% 0%;
    background-color: black;
}

.image-main {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: contain;
}