.login-popup-container {
    display: block;
    position: fixed;
    bottom: 50%;
    right: 50%;
    width: 10%;
    height: 30%;
    border: 3px solid #000000;
    background-color: #555555;
    z-index: 9;
    align-items: center;
  }

.login-popup-buttons-container {
    margin-top: 20%;
    position:relative;
    left: 50%;
    height: 100%;
}

.login-popup-button {
    margin: 5px;
    transform: translateX(-50%);
    width: 70%;
    min-height: 15%;
    height: auto;
}
