.stories-main-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.stories-display-container {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}